body {
    background-color: #32265f !important;
    color: ghostwhite !important;
}

a:link {
    color: #6fe768;
}

input {
    color: black !important;
}

.whiteText {
    color: ghostwhite !important;
}

.jumbotron {
    background-color: #443d5e !important;
}

.form {
    background-color: #443d5e !important;
    color: ghostwhite !important;
}
