body {
    background-color: #32265f !important;
    color: ghostwhite !important;
}

a:link {
    color: #6fe768;
}

a:visited {
    color: #6fe768;
}

a:hover {
    color: hotpink !important;
}

a:active {
    color: hotpink;
}

input {
    color: black !important;
}

select {
    color: black !important;
}

.whiteText {
    color: ghostwhite !important;
}

.jumbotron {
    background-color: #443d5e !important;
}

.form {
    background-color: #443d5e !important;
    color: ghostwhite !important;
}

.logout {
    float: right;
    vertical-align: middle;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.top {
    margin-top:0;
}